.overlay{
  position:fixed;
   background:url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png);
  -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
  top:0;
  left:0;
  width:100%;
 height:100%;
}

h1{
  text-align:center;
  color:#FFF !important;
  margin-top:10%;
  font:60px  'Open Sans Condensed', sans-serif;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

p{
  color:#FFF;
  text-align:center;
  font:15px  'Open Sans Condensed', sans-serif;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}


@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}
.twitter{
  text-decoration: none;
  color: white;
  font-size:400%;
  font-family:  'Open Sans Condensed', sans-serif;
  background-color: #0084b4;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: .7%;
  padding-bottom: .7%;
  margin-right: 1%;
}
.github{
  text-decoration: none;
  color: white;
  font-size:400%;
  font-family:  'Open Sans Condensed', sans-serif;
  background-color: #24292E;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: .7%;
  padding-bottom: .7%;
  margin-right: 1%;
}
.reddit{
  text-decoration: none;
  color: white;
  font-size:400%;
  font-family:  'Open Sans Condensed', sans-serif;
  background-color:#FF3E00;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: .7%;
  padding-bottom: .7%;
  margin-right: 1%;
}
.proton{
  text-decoration: none;
  color: white;
  font-size:400%;
  font-family:  'Open Sans Condensed', sans-serif;
  background-color:#333366;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: .7%;
  padding-bottom: .7%;
  margin-right: 1%;
}
